
/* mobile responsiveness design */
@media screen and (max-width: 990px) {


  
  .contact_us {
    flex-direction: column;
    width: 100%;
  }
  form,
  .cbox {
    margin: auto;
    margin-bottom: 30px;
  }

  .header-content {
    font-family: var(--ff-lora);
    width: 100%;
    letter-spacing: 0.5rem;
    font-size: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    z-index: 1;
    padding: 2rem;
    margin-bottom: 100px;
    margin-top:120px;
}

.header {
    width: 100%;
    height: auto;
    background-image: url("../img/du.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-content h1 {
    width: 100%;
    letter-spacing: 0.5rem;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: normal;
    z-index: 1;
    padding: 2rem;
    margin-bottom: 100px;
}

.logo {
    font-size: 200px;
    margin: auto;
    max-width: 350px;
    padding: 8px;
}

.container.row {
  flex-direction: column;
  align-items: center;
}
.content-col p {
  text-align: left; /* Center align text */
  font-size: 35px;
  padding: 0;
  text-align: justify;
}

.content-col,
.image-col {
  padding: 10px;
  width: 100%;
}
.about-text {
  font-size: 40px;
  padding: 15px;
}
.image-gallery {
  display: flex;
  justify-content: center;
  width: 80%;
  height: auto;
}
}

@media screen and (max-width: 2560px) {

  .header-content {
    font-family: var(--ff-lora);
    width: 100%;
    letter-spacing: 0.5rem;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    z-index: 1;
    padding: 2rem;
    margin-bottom: 100px;
    margin-top:120px;
}

.header {
    width: 100%;
    height: auto;
    background-image: url("../img/du.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-content h1 {
    width: 100%;
    letter-spacing: 0.5rem;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: normal;
    z-index: 1;
    padding: 2rem;
    margin-bottom: 100px;
}
#quote {
  font-size: 40px;
}

.logo {
  width: 100%;
    font-size: 150px;
    margin: auto;
    
}
  .menu-btn {
    display: block;
    
  }

  .navbar {
    padding: 60px;
  }

.img2{
  display: none;
}

  .logo {
    position: absolute;
    top: 30px;
    left: 15px;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    background: #484872;
    margin-top: -900px;
    transition: all 0.5s ease;
  }

  .mobile-menu {
    margin-top: 602px;
    border-bottom-right-radius: 30%;
  }

  .nav-links{
    margin-top: 100px;
    font-family: var(--ff-lora);
  }
.nav-links li{
  margin: 10px auto;

  text-align: center;
}

.content-col p {
  text-align: center; /* Center align text */
  font-size: 30px;
  padding: 0;
  text-align: justify;
}

.row {
  flex-direction: column;
}

.slider-item {
  min-width: 200px; /* Adjust for medium screens */
}

.slider-button {
  padding: 8px; /* Slightly smaller buttons for medium screens */
}

.row .col {
  margin: 20px auto;
}

.col img {
  max-width: 90%;
}

.red {
  align-items: center;
}

.container {
 
 max-width: 100%;
}

.tours {
  padding: 60px 0;
}

.card {
  width: 350px;
  height: 300px;
  margin: 30px;
}

.title {
  font-size: 5vmin;
}

.font-color {
  font-size: 50px;
}

/*explore*/
.explore-content {
  width: 100%;
  font-size: 20px;
}

.container.row {
  flex-direction: column;
  align-items: center;
  
}
.content-col {
  padding: 10px;
  width: 100%;
}

.about-text {
  font-size: 10px;
  padding: 15px;

}


.image-gallery {
  width: 100%;
}

/*tours*/
.tours {
  width: 100%;
}

/*footer*/
.footer {
  padding: 10px;
}

.menu-btn {
  top: 40px;
  width: 50px;
}


}


@media screen and (max-width: 1130px) {

  .header-content {
    font-family: var(--ff-lora);
    width: 100%;
    letter-spacing: 0.5rem;
    font-size: 80px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    z-index: 1;
    padding: 2rem;
    margin-bottom: 100px;
    margin-top:120px;
}

.header {
    width: 100%;
    height: auto;
    background-image: url("../img/du.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-content h1 {
    width: 100%;
    letter-spacing: 0.5rem;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: normal;
    z-index: 1;
    padding: 2rem;
    margin-bottom: 100px;
}

.logo {
    font-size: 100px;
    margin: auto;
    max-width: 400px;
    padding: 8px;
}
  .menu-btn {
    display: block;
  }

  .navbar {
    padding: 45px;
  }

.img2{
  display: none;
}

  .logo {
    position: absolute;
    top: 30px;
    left: 15px;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    background: #484872;
    margin-top: -900px;
    transition: all 1s ease;
  }

  .mobile-menu {
    margin-top: 602px;
    border-bottom-right-radius: 30%;
  }

  .nav-links{
    margin-top: 80px;
    font-family: var(--ff-lora);
  }
.nav-links li{
  margin: 10px auto;

  text-align: center;
}

.content-col p {
  text-align: center; /* Center align text */
  font-size: 50px;
  padding: 0;
  text-align: justify;
}

.about-text {
  font-size: 25px;
  padding: 15px;

}
}

@media screen and (max-width: 1440px) {

  .header-content {
    font-family: var(--ff-lora);
    width: 100%;
    letter-spacing: 0.5rem;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    z-index: 1;
    padding: 2rem;
    margin-bottom: 100px;
    margin-top:120px;
}


.header {
    width: 100%;
    height: auto;
    background-image: url("../img/du.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.header-content h1 {
  width: 100%;
  letter-spacing: 0.5rem;
  font-size: 100px;
  color: rgb(255, 255, 255);
  text-align: center;
  white-space: normal;
  z-index: 1;
  padding: 2rem;
  margin-bottom: 100px;
}

.nav-links {
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  background: #484872;
  margin-top: -900px;
  transition: all 0.5s ease;
}

.mobile-menu {
  margin-top: 602px;
  border-bottom-right-radius: 30%;
}

.menu-btn{
  display: block;
}
.nav-links{
  margin-top: 80px;
  font-family: var(--ff-lora);
}
.nav-links li{
margin: 10px auto;

text-align: center;
}

.logo {
    font-size: 200px;
    margin: auto;
    max-width: 600px;
    padding: 8px;
}
	 .containerx {
	  top: 40%;
	  bottom: 40%;
	  transform-style: preserve-3d;
	}

  .slider-item {
    min-width: 200px; /* Adjust for medium screens */
}

.slider-button {
    padding: 8px; /* Slightly smaller buttons for medium screens */
}

	#about_us div {
		padding: 10px;
		display: block;
		align-items: normal;
	}

	.cards {
		position: relative;
		width: 90vw;
		height: 100%;
	}

	#about-quad {
		display: none;
	}

  .img2{
    display: none;
  }

  .explore-content{
    font-size: 40px;
  }

  .container.row {
    flex-direction: column;
    align-items: center;
  }
  .content-col p {
    text-align: center; /* Center align text */
    font-size: 15px;
    padding: 0;
    text-align: justify;
  }

  .content-col,
  .image-col {
    padding: 10px;
    width: 100%;
  }
  .about-text {
    font-size: 25px;
    padding: 15px;
  }
  .image-gallery {
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
  }

  .menu-btn{
    top: auto;
    height: 35px;
    width: auto;
  }

@media only screen and (max-width: 850px) {

  .header-content {
    font-family: var(--ff-lora);
    width: 100%;
    letter-spacing: 0.5rem;
    font-size: 210px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    z-index: 1;
    padding: 2rem;
    margin-bottom: 100px;
    margin-top:120px;
}



.header {
    width: 100%;
    height: auto;
    background-image: url("../img/du.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-content h1 {
    width: 100%;
    letter-spacing: 0.5rem;
    font-size: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: normal;
    z-index: 1;
    padding: 2rem;
    margin-bottom: 100px;
}

#quote {
  font-size: 30px;
}

.logo {
    font-size: 100px;
    margin: auto;
    max-width: 600px;
    padding: 8px;
}

  .nav-links{
    margin-top: 80px;
    font-family: var(--ff-lora);
  }
.nav-links li{
  margin: 10px auto;

  text-align: center;
}

  /*events*/
  .row {
    flex-direction: column;
  }

  .slider-item {
    min-width: 200px; /* Adjust for medium screens */
}

.slider-button {
    padding: 8px; /* Slightly smaller buttons for medium screens */
}

  .row .col {
    margin: 20px auto;
  }

  .col img {
    max-width: 90%;
  }

  /*explore*/
  .explore-content {
    width: 100%;
    font-size: 20px;
  }
 
  .container.row {
    flex-direction: column;
    align-items: center;
  }
  .content-col,
  .image-col {
    padding: 10px;
    width: 100%;
  }
  .content-col p {
    text-align: center; /* Center align text */
    font-size: 50px;
    padding: 0;
    text-align: justify;
  }
  .image-gallery {
    width: 100%;
  }

  /*tours*/
  .tours {
    width: 100%;
  }

  /*footer*/
  .footer {
    padding: 10px;
  }
 

  .img2{
    display: none;
  }

  .menu-btn{
    top: auto;
    height: 35px;
    width: auto;
  }

  
}

@media screen and (max-width: 768px) {

  .nav-links{
    margin-top: 80px;
    font-family: var(--ff-lora);
  }
.nav-links li{
  margin: 10px auto;

  text-align: center;
}



  .header-content {
    font-family: var(--ff-lora);
    width: 100%;
    letter-spacing: 0.5rem;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    z-index: 1;
    padding: 2rem;
    margin-bottom: 100px;
    margin-top:120px;
}

.header {
    width: 100%;
    height: auto;
    background-image: url("../img/du.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-content h1 {
    width: 100%;
    letter-spacing: 0.5rem;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: normal;
    z-index: 1;
    padding: 2rem;
    margin-bottom: 100px;
}

.logo {
    font-size: 40px;
    margin: auto;
    max-width: 150px;
    padding: 8px;
}
  form,
  .cbox {
    width: 90%;
  }
  .ctn {
    margin: auto;
    height: auto;
    width: auto;
  }

  .img2{
    display: none;
  }

  .container.row {
    flex-direction: column;
    align-items: center;
  }
  .content-col p {
    text-align: center; /* Center align text */
    font-size: 50;
    padding: 0;
    text-align: justify;
  }

  .content-col,
  .image-col {
    padding: 10px;
    width: 100%;
  }
  
  .image-gallery {
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
  }

  .explore-content {
    margin: 0 auto;
    text-align: center;
    width: 80%;
  }

  .explore-content .ctn {
    margin: 40px auto;
  }

  .slider-item {
    min-width: 200px; /* Adjust for medium screens */
}
  .slider-button {
    padding: 8px;
  }

  .explore {
    height: auto; /* Allow height to adjust on smaller screens */
    padding: 20px 10px; /* Add padding for smaller screens */
    background-attachment: scroll; /* Disable fixed background on smaller screens */
  }

  .explore-content {
    padding: 1rem; /* Adjust padding for smaller screens */
  }

  .explore-content h1 {
    font-size: calc(1.5rem + 2vw); /* Adjust font size for smaller screens */
  }

  .explore-content p {
    text-align: center; /* Center text on smaller screens */
  }

  
  .menu-btn{
    top: auto;
    height: 35px;
    width: auto;
  }

  }
}

@media screen and (max-width: 600px) {

  .nav-links{
    margin-top: 80px;
    font-family: var(--ff-lora);
  }
.nav-links li{
  margin: 10px auto;

  text-align: center;
}
  #about_us p {
    margin: auto;
  }

  #quote {
    font-size: 20px;
  }

  .slider-item {
    min-width: 200px; /* Adjust for medium screens */
}

.slider-button {
    padding: 8px; /* Slightly smaller buttons for medium screens */
}

  .img2{
    display: none;
  }
  .container.row {
    flex-direction: column;
    align-items: center;
  }
  .content-col p {
    text-align: center; /* Center align text */
    font-size: 15px;
    padding: 0;
    text-align: justify;
  }

  .content-col,
  .image-col {
    padding: 10px;
    width: 100%;
  }
  .about-text {
    font-size: 10px;
    padding: 15px;
  }
  .image-gallery {
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  header {
    background-image: url("../img/du.jpg"); /* Use a high-res image for retina screens */
  }
}
.header-content {
  font-family: var(--ff-lora);
  width: 100%;
  letter-spacing: 0.5rem;
  font-size: 8px;
  color: rgb(255, 255, 255);
  text-align: center;
  position: absolute;
  z-index: 1;
  padding: 2rem;
  margin-bottom: 100px;
  margin-top:120px;
}

.header {
  width: 100%;
  height: auto;
  background-image: url("../img/du.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.header-content h1 {
  width: 100%;
  letter-spacing: 0.5rem;
  font-size: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
  white-space: normal;
  z-index: 1;
  padding: 2rem;
  margin-bottom: 100px;
}

.logo {
font-size: 25px;
margin: 0;
max-width: 150px;
padding: 5px;
}

.header-content h2 {
  font-size: calc(1.5rem + 1vw);
  margin-bottom: 0.5rem;
}

.header-content h1 {
  font-size: calc(2rem + 2vw);
  margin-bottom: 1rem;
}

.header-content .line {
  width: 100px;
  height: 4px;
  background: var(--main-color);
  margin: 1rem auto;
}

.header-content .ctn {
  display: inline-block;
  padding: 12px 30px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid whitesmoke;
  border-radius: 20px;
  color: whitesmoke;
  text-decoration: none;
  transition: background 0.3s ease;
}

.header-content .ctn:hover {
  background: rgba(255, 255, 255, 0.2);
}
.gallery {
    
  height: 500px;
  align-items: center;
}
.slider-wrapper {
  width: 450px; /* Adjust to full width on smaller screens */
  height: 500px; /* Adjust height for smaller screens */
  align-items: center;
}

.slider-item {
  width: 200px;
  height: 400px;
  align-items: center;
}

.slider-button {
  padding: 2px; /* Slightly smaller buttons for medium screens */
}

.container.row {
  flex-direction: column;
  align-items: center;
}
.content-col p {
  text-align: center; /* Center align text */
  font-size: 15px;
  padding: 0;
  text-align: justify;
}

.content-col,
.image-col {
  padding: 10px;
  width: 100%;
}
.about-text {
  font-size: 10px;
  padding: 15px;
}
.image-gallery {
  display: flex;
  justify-content: center;
  width: 80%;
  height: auto;
}


@media screen and (max-width: 480px) {


  .nav-links{
    margin-top: 80px;
    font-family: var(--ff-lora);
  }
.nav-links li{
  margin: 10px auto;

  text-align: center;
}


  .header-content .ctn {
    display: inline-block;
    padding: 40px 40px;
    background-color:rgba(255, 255, 255, 0.1) ;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    color: whitesmoke;
    text-decoration: none;
    transition: background 0.3s ease;
  }
  
  .header-content .ctn:hover {
    background: rgba(255, 255, 255, 0.2);
  }
 

  .header-content .ctn {
    padding: 8px 20px;
    font-size: calc(0.8rem + 0.5vw);
  }.header-content {
    font-family: var(--ff-lora);
    width: 100%;
    letter-spacing: 0.5rem;
    font-size: 8px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    z-index: 1;
    padding: 2rem;
    margin-bottom: 100px;
    margin-top:120px;
}

.header {
    width: 100%;
    height: auto;
    background-image: url("../img/du.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-content h1 {
    width: 100%;
    letter-spacing: 0.5rem;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: normal;
    z-index: 1;
    padding: 2rem;
    margin-bottom: 100px;
}

#quote {
  font-size: 20px;
}

.logo {
  font-size: 15px;
  margin: 0;
  max-width: 150px;
  padding: 5px;
}

  .ctn {
    padding: 13px 25px;
  }
  .c_boxx a p {
    font-size: 17.5px;
  }

  .img2{
    display: none;
  }

  .gallery {
    
    height: auto;
    align-items: center;
  }
  .slider-wrapper {
    width: 300px; /* Adjust to full width on smaller screens */
    height: auto; /* Adjust height for smaller screens */
    align-items: center;
  }

  .slider-item {
    width: 200px;
    height: 400px;
    align-items: center;
  }

  .slider-button {
    padding: 2px; /* Slightly smaller buttons for medium screens */
  }

  .container.row {
    flex-direction: column;
    align-items: center;
  }
  .content-col p {
    text-align: center; /* Center align text */
    font-size: 15px;
    padding: 0;
    text-align: justify;
  }

  .content-col,
  .image-col {
    padding: 10px;
    width: 100%;
  }
  .about-text {
    font-size: 10px;
    padding: 15px;
  }
  .image-gallery {
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
  }

  .menu-btn{
    top: auto;
    height: 30px;
    width: auto;
  }
}
@media screen and (max-width: 400px) {

  
  .nav-links{
    margin-top: 80px;
    font-family: var(--ff-lora);
  }
.nav-links li{
  margin: 10px auto;

  text-align: center;
}
 
  

  .header-content .ctn {
    display: inline-block;
    padding: 10px 30px;
    background-color:rgba(255, 255, 255, 0.1) ;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    color: whitesmoke;
    text-decoration: none;
    transition: background 0.3s ease;
  }
  
  .header-content .ctn:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .ctn {
    font-family: var(--ff-montserrat);
    font-size: var(--fs-links-btns);
    font-weight: 700;
    padding: 13px 50px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
  }

  .header-content {
    font-family: var(--ff-lora);
    width: 100%;
    letter-spacing: 0.5rem;
    font-size: 8px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    z-index: 1;
    padding: 2rem;
    margin-bottom: 100px;
    margin-top:120px;
}

.header {
    width: 100%;
    height: auto;
    background-image: url("../img/du.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#quote {
  font-size: 18px;
}

.header-content h1 {
    width: 100%;
    letter-spacing: 0.5rem;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: normal;
    z-index: 1;
    padding: 2rem;
    margin-bottom: 100px;
}

.logo {
    font-size: 12px;
    margin: 0;
    max-width: 150px;
    padding: 5px;
}

  .img2{
    display: none;
  }

  .gallery {
    
    height: auto;
    align-items: center;
  }
  .slider-wrapper {
    width: 300px; /* Adjust to full width on smaller screens */
    height: auto; /* Adjust height for smaller screens */
    align-items: center;
  }

  .slider-item {
    width: 200px;
    height: 400px;
    align-items: center;
  }

  .slider-button {
    padding: 2px; /* Slightly smaller buttons for medium screens */
  }

  .container.row {
    flex-direction: column;
    align-items: center;
  }
  .content-col p {
    text-align: center; /* Center align text */
    font-size: 15px;
    padding: 0;
    text-align: justify;
  }

  .content-col,
  .image-col {
    padding: 10px;
    width: 100%;
  }
  .about-text {
    font-size: 10px;
    padding: 15px;
  }
  .image-gallery {
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
  }

  .menu-btn{
    top: auto;
    height: 30px;
    width: auto;
  }
}
